expandable {
    .expand-wrapper {
        transition: 0.2s linear;
        background-color: map-get($colors, code-background);
        border-radius: 5pt;
        margin-top: 0.5em;
        div.line {
            line-height: 1.5;
            span{
                font-weight: bold;
                height: 100%;
            }
            span.indentention-space{ padding-left: 10pt; }
            span.indentention-space:first{ padding-left: 0; }
            span.line-index{ 
                margin-right: 5pt; 
                width: 5vh;
                color: map-get($colors, line-index-color);
            }
            span.comment { color: map-get($colors, comment-color); }
            span.code { color: map-get($colors, code-color); }
        }
    }   
    .code-area{
        margin: 5%;
    }
    .collapsed {
        height: 0 !important;
    }
 
}