expandable {
    .expand-wrapper {
        transition: 0.2s linear;
        background-color: map-get($colors, code-background);
        border-radius: 5pt;
        margin-top: 0.5em;
        div.line {
            line-height: 1.5;
            span{
                font-weight: bold;
                height: 100%;
            }
            span.line-index{ 
                margin-right: 5pt; 
                color: #777;
            }
            span.comment { color: #999; }
            span.code { color: #00e676; }
        }
    }   
    .code-area{
        margin: 5%;
    }
    .collapsed {
        height: 0 !important;
    }
 
}