
<ion-header>
  <ion-navbar>
    <ion-title>Iniciante</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
 
  <ion-list>
    <div detail-none (click)="expandItem(item)" ion-item *ngFor="let item of items" text-wrap>
      <div class="item-header">
        <span class="item-title">{{ item.title }}</span>
        <button ion-button icon-only clear class="item-expand-button">
          <ion-icon [name]="item.expanded ? 'arrow-dropdown' : 'arrow-dropleft' "></ion-icon>
        </button>
      </div>
      <div class="item-body">
        <expandable [expandHeight]="45" [expanded]="item.expanded">
          <ion-scroll scrollY="true" style="width: 100%; height: 40vh;">
            <div *ngFor="let line of item.lines; let i = index;" class="line">
              <span class="line-index">{{get_index(i+1)}}</span>
              <span class="identention-area" *ngIf="line.hasOwnProperty('level')">
                <span class="indentention-space" *ngFor="let x of get_level(line.level)"></span>
              </span>
              <span [class]="line.type">{{line.text}}</span>
            </div>
          </ion-scroll>
        </expandable>
      </div>
    </div>
  </ion-list>
</ion-content>
